.header {
    background-color: var(--primary-color);
    height: 32.8rem;
    padding: 2rem 16rem;
    width: 100%;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign__in-link {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white-color);
    line-height: 2.6rem;
    cursor: pointer;
}

.primary__btn {
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-color);
    border-radius: 4px;
    background-color: var(--white-color);
    border: none;
    margin-left: 3.2rem;
    cursor: pointer;
}